.App {
  text-align: center;
}


.stockInputContainer label{
  margin-left: 10px;
  margin-right: 3px;

}

table {
  width: 40%;
  margin: 2rem 30% 2rem 30%;
  text-align: center;
  background-color: aqua;
}
thead {
  font-weight: bold;
}

.tableRow:hover{
  background-color: rgb(0, 213, 213);
}

#editBtn{
  all:unset;
  padding: 2px 8px 2px 8px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: red;
}
#editBtn:hover{
  cursor:pointer;
  background-color: green;
}

@media only screen and (max-width: 600px) {
  .stockInputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .stockInputContainer button {
    width: 20%;
  }
  table {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
  
